/.metadata/
*.jar
*.xml
/caceresGarcia/src/caceresGarcia/*.java
/caceresGarcia/src/caceresGarcia/scoping
/caceresGarcia/xtend-gen
/caceresGarcia/src-gen
/caceresGarcia/model
/caceresGarcia/META-INF
/caceresGarcia.ide/src-gen
/caceresGarcia.ide/src-gen
/caceresGarcia.ide/META-INF
/caceresGarcia.ide
/caceresGarcia.ui